### GIT Submodules
###
### Web portfolio + class unrelated submodules

[submodule "cours/sae/sae-14/portfolio-presentation/www/alexis-opolka.github.io"]
	path = cours/sae/sae-14/portfolio-presentation/www/alexis-opolka.github.io
	url = git@github.com:alexis-opolka/alexis-opolka.github.io.git

[submodule "cours/sae/sae-14/portfolio-presentation/ideas/generative-3d-art"]
	path = cours/sae/sae-14/portfolio-presentation/ideas/generative-3d-art
	url = git@github.com:alexis-opolka/generative-3d-art.git

### Ressources-related submodules

[submodule "cours/modules/R208/R208-TP/tp2-json-alexis-opolka"]
	path = cours/modules/R208/R208-TP/tp2-json-alexis-opolka
	url = git@github.com:IUT-Beziers/tp2-json-alexis-opolka.git

[submodule "cours/modules/R202/R202-TD/R202-TD6/tpdocker"]
	path = cours/modules/R202/R202-TD/R202-TD6/tpdocker
	url = git@github.com:pushou/tpdocker.git

[submodule "cours/modules/R308/R308-TP/R308-TP1/cr-r308-tp1"]
	path = cours/modules/R308/R308-TP/R308-TP1/cr-r308-tp1
	url = git@github.com:IUT-Beziers/tp1-r308-alexis-opolka.git

[submodule "cours/modules/R308/R308-TP/R308-TP2/cr-r308-tp2"]
	path = cours/modules/R308/R308-TP/R308-TP2/cr-r308-tp2
	url = git@github.com:IUT-Beziers/tp2-python-avanc-e-2023-04-10-alexis-opolka.git

### SAE-related submodules

[submodule "cours/sae/sae-12/sae12-full-admin-right-alexis-opolka"]
	path = cours/sae/sae-12/sae12-full-admin-right-alexis-opolka
	url = git@github.com:IUT-Beziers/sae12-full-admin-right-alexis-opolka.git

[submodule "cours/sae/sae-12/SAE12"]
	path = cours/sae/sae-12/SAE12
	url = git@github.com:alexis-opolka/SAE12.git

[submodule "cours/sae/sae-21/"]
	path = cours/sae/sae-21/
	url = git@github.com:alexis-opolka/sae-21.git

[submodule "cours/sae/sae-23/Mon-Banzaii"]
	path = cours/sae/sae-23/Mon-Banzaii
	url = git@github.com:alexis-opolka/sae-23.git

[submodule "cours/sae/sae-24"]
	path = cours/sae/sae-24
	url = git@github.com:IUT-Beziers/ffb-rfid.git
[submodule "cours/modules/R308/R308-TP/R308-TP4/tp4-final-alexis-opolka"]
	path = cours/modules/R308/R308-TP/R308-TP4/tp4-final-alexis-opolka
	url = git@github.com:IUT-Beziers/tp4-final-alexis-opolka.git
[submodule "cours/modules/Cloud/TD1/ec2.shop"]
	path = cours/modules/Cloud/TD1/ec2.shop
	url = git@github.com:yeo/ec2.shop.git
[submodule "cours/sae/sae-32/webapp"]
	path = cours/sae/sae-32/webapp
	url = git@github.com:alexis-opolka/livre-mon-colis.git
[submodule "cours/modules/R309/R309-TP2"]
	path = cours/modules/R309/R309-TP2
	url = git@github.com:IUT-Beziers/r309-tp2-alexis-opolka.git
[submodule "cours/sae/sae-31"]
	path = cours/sae/sae-31
	url = git@github.com:alexis-opolka/vert.git
