
## Directories
imports/
*/imports/*
cours/modules/R111/R111-TD/out/test/*

## Files
~$*.*
.~lock.*.*
*.save
*.log
save*-*-*.txt

## Here is the entire repository of the VS files used on a projet in C++

## Folders
.vs/
cours/modules/R111/R111-TD/src/code-sample-cpp/Debug/*
cours/modules/R111/R111-TD/src/code-sample-cpp/Release/*
cours/modules/R111/R111-TD/src/code-sample-cpp/x64/Debug/*

## Files
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.sln
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj.filters
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj.user
cours/sae/sae-11/histoire-jade-07.11.2022.pdf
cours/modules/R111/R111-TP/Algorithmes-Alexis-Kenzo.docx

cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/r107-tp5-opolka-alexis.ipynb
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig1-2.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig3-4.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig5-6.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/R107-TP-05-06-BatailleNavalle.pdf
