[submodule "cours/sae/sae-14/portfolio-presentation/www/alexis-opolka.github.io"]
	path = cours/sae/sae-14/portfolio-presentation/www/alexis-opolka.github.io
	url = https://github.com/alexis-opolka/alexis-opolka.github.io.git

[submodule "cours/sae/sae-14/portfolio-presentation/ideas/generative-3d-art"]
	path = cours/sae/sae-14/portfolio-presentation/ideas/generative-3d-art
	url = https://github.com/alexis-opolka/generative-3d-art.git
