
## Directories
imports/
*/imports/*
cours/modules/R111/R111-TD/out/test/*
test/*

## Files
~$*.*
.~lock.*.*
*.save
*.log
save*-*-*.txt
*.out
### LaTeX files - to be ignored
*.aux
*.fdb_latexmk
*.fls
*.gz

## Here is the entire repository of the VS files used on a projet in C++

## Folders
.vs/
cours/modules/R111/R111-TD/src/code-sample-cpp/Debug/*
cours/modules/R111/R111-TD/src/code-sample-cpp/Release/*
cours/modules/R111/R111-TD/src/code-sample-cpp/x64/Debug/*

## Repository-wide absolute paths of files to be ignored
## Files
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.sln
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj.filters
cours/modules/R111/R111-TD/src/code-sample-cpp/code-sample-cpp.vcxproj.user
cours/sae/sae-11/histoire-jade-07.11.2022.pdf
cours/modules/R111/R111-TP/Algorithmes-Alexis-Kenzo.docx

cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/r107-tp5-opolka-alexis.ipynb
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig1-2.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig3-4.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/fig5-6.png
cours/modules/R107/R107-TP/R107-TP5/r107-tp5-opolka-alexis/src/R107-TP-05-06-BatailleNavalle.pdf
cours/modules/R208/R208-TP/R208-TP1/src/instant/instant_2023.xml
cours/modules/R208/R208-TP/R208-TP1/src/instant/instant_2022.xml
cours/modules/R208/R208-TP/R208-TP1/src/instant/instant.xml
cours/modules/R208/R208-TD/R208-TD2/src/eve.json
