

/*
  The version used for this TP, a bit modified and with some additions related to the work required.
*/

body {
  background-color:#B5DFC9;
  text-align:center;
}
h1 {
  color:maroon;
  text-align:center;
  font-size:250%;
  margin:0;
  padding:5px;
}
table {
  border-style:none;
  background-color:gray;
  text-align:center;
  margin:5px auto 5px auto;
}
tr:nth-child(even){background-color:pink;}
tr:nth-child(odd){background-color:yellow;}
th {
  background-color:aqua;
  padding:2px;
}
td {padding:2px;}

a {
  margin-right: 0.5vmin;
}


.logos {
  text-align:center;
  margin:5px;
  max-width: 50%;
}

.fixed-right {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(38, 38, 38, 0.5);
}

.dev-corner {
  padding: 0.5vmin;
  margin: 0.5vmin;
}
